body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 870px;
    height: 550px;
    overflow: hidden;
    background-color: #141414;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 250px;
    min-width: 250px;
    height: 570px;
    background-color: #111111;
    padding-top: 20px;
    user-select: none;
}

.header-p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: left;
    width: 200px;
    color: white;
    font-size: 35px;
    font-weight: 500;
}

.menu-create-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    background-color: #46e241;
}

.menu-create-button:hover {
    background-color: #4de648;
}

.menu-create-button-p {
    font-size: 18px;
    font-weight: 500;
}

.menu-hr {
    width: 200px;
    height: 1px;
    background-color: rgb(161, 161, 161);
}

.search-input {
    width: 193px;
    height: 23px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 3px;
    background-color: #141414;
    color: white;
    border: rgb(161, 161, 161) solid 1px;
}

.notes-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    height: 409px;
    width: 200px;
    padding-top: 5px;
    overflow-y: hidden;
}

.notes-section:hover {
    overflow-y: scroll;
}

.notes-section::-webkit-scrollbar {
    width: 10px;
}

.notes-section::-webkit-scrollbar-track {
    background: transparent;
}

.notes-section::-webkit-scrollbar-thumb {
    background: #202020;
}

.note-item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 185px;
    min-height: 25px;
    height: 25px;
    padding: 0px 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #141414;
    border: solid 1px rgb(161, 161, 161);
}

.note-item:hover {
    background-color: #202020;
}

.note-item-name {
    color: rgb(161, 161, 161);
    font-size: 14px;
}

.note-review {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
    height: 570px;
    padding: 20px 0px 0px 20px;
}

.note-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 650px;
    background-color: transparent;
}

.title-input {
    width: 580px;
    height: 60px;
    font-size: 50px;
    font-weight: 300;
    color: white;
    background-color: transparent;
}

.save-button,
.delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 15px;
    background-color: #111111;
}

.save-button:hover,
.delete-button:hover {
    background-color: #202020;
}

.save-icon,
.delete-icon {
    color: rgb(161, 161, 161);
    font-size: 100px;
}

.date-p {
    color: rgb(161, 161, 161);
    font-size: 17px;
}

.description-input {
    resize: none;
    width: 650px;
    height: 455px;
    padding-top: 10px;
    color: white;
    font-size: 20px;
    background-color: transparent;
}

.description-input::-webkit-scrollbar {
    width: 10px;
}

.description-input::-webkit-scrollbar-track {
    background: transparent;
}

.description-input::-webkit-scrollbar-thumb {
    background: #222222;
}